body {
    display: flex;
    flex-direction: column;
    padding: 4px;
}

label {
  display: flex;
  flex-direction: column;
  margin: 4px 0px;
}

#save-wrapper {
  display: flex;
  flex-direction: column;
  margin: 6px auto;
  justify-content: baseline;
}

#status {
  margin-left: 4px;
  margin-top: 2px;
  color: hsla(127, 100%, 31%, 1);
}

.metadata-configuration-item {
  display: flex;
  gap: 16px;
  align-items: center;

}
.metadata-configuration-text-input {
  flex: 1;
}

.metadata-configuration-checkbox {
  flex: 0.3;
  display: flex;
  align-items: center;
  margin-top: 2ch;
  column-gap: 4px;
}

.greeting {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.greeting h2 {
  margin-top: 0;
  color: #333;
}

.greeting p {
  margin-bottom: 0;
  color: #666;
}
